<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogger</title>
    <link rel="stylesheet" type="text/css" href="/stylesc.css">
</head>
<body>
    <div class="cont-contactBtn">
					<div class="cont-flip">
						<div class="front">
							<a href="#" class="btn btn-white flip">Send Message</a>
						</div>
						<div class="back">
							<a href="#" class="flip close"></a>
							<form class="contact-form" action="">
								<select name="topic" class="gutter" id="cars">
									<option value="mobile">mobile</option>
									<option value="tech">tech</option>
									<option value="design">design</option>
								  </select>
								<input class="gutter" type="text" name="blogheading" placeholder="Name">
								<!-- <input type="text" placeholder="Company"> -->
								<!-- <input class="gutter" type="text" placeholder="Telephone"> -->
								<!-- <input type="text" class="gutter" placeholder="Email"> -->
								<textarea name="blogtext" id="" placeholder="Leave a message"></textarea>
								<input type="submit" value="Send">
							</form>
						</div>
					</div>
                    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
                    <script src="/main1.js"></script>

</body>
</html>