<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog website</title>
    <!-- css style-sheet          -->
<link rel="stylesheet" href="style.css">
 
    <!-- font awwsome         -->     
 <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
 <script src="https://kit.fontawesome.com/162c4092e4.js" crossorigin="anonymous"></script>


</head>
<body>
    <header>
       <div class="nav container">
        <a href="#" class="logo">blo<span>gger</span></a>
    <!-- login btn   -->
    <!--  if (userid == null){ %>
    <a href="/login" class="login">login</a>
     } else { %>
    <a href="/logout" class="login">logout</a>
     } %> -->

     <!-- <li id="login">
        <a href=" logStatus==='out'?'login':'logout'%>" class="login">
             logStatus==='out'?'LOGIN':'LOGOUT'%>
        </a>
    </li> -->

 

</div>

    </header>


<!-- home   -->
<section class="home">

<div class="home-text container">
    <h2 class="home-title"> blogger </h2>
    <span class="home-subtitle">your source of great content</span><br>
    <br>
    <a href="/compose" class="login">compose</a>
</div>

</section>



     <!-- Post Filter -->
<div class="post-filter container">
     <span class="filter-item active-filter" data-filter='all'>A1l</span>
     <span class="filter-item" data-filter= 'design '>Design</span>
     <span class="filter-item" data-filter= 'tech '>Tech</span>
     <span class="filter-item" data-filter= 'mobile'>Mobile</span>
</div>


<!-- /posts                 -->
<section class="post container">

<!-- post box 1      -->
    <div class="post-box design">
        <img src="img/post-1.jpg" alt="" class="post-img">
        <h2 class="category">design</h2>
        <a href="/posts" class="post-title">to create best ux design with adobe xd</a>
        <span class="post-date"></span>
        <p class="post-decription">If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum is appreciated </p>

        <!-- profile       -->
        <div class="profile">
            <img src="img/profile-1.jpg" alt="" class="profile-img">
            <span class="profile-name">marques dexter</span>
        </div>
    </div>


    <!-- post box 2      -->
    <div class="post-box tech">
        <img src="img/post-2.jpg" alt="" class="post-img">
        <h2 class="category">tech</h2>
        <a href="/posts" class="post-title">to create best ux design with adobe xd</a>
        <span class="post-date"></span>
        <p class="post-decription">If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum is appreciated </p>

        <!-- profile       -->
        <div class="profile">
            <img src="img/profile-1.jpg" alt="" class="profile-img">
            <span class="profile-name">marques dexter</span>
            </div>
        </div>
    </div>


    <!-- post box 3      -->
    <div class="post-box mobile">
        <img src="img/post-3.jpg" alt="" class="post-img">
        <h2 class="category">mobile</h2>
        <a href="/posts" class="post-title">to create best ux design with adobe xd</a>
        <span class="post-date"></span>
        <p class="post-decription">If you use this site regularly and would like to help keep the site on the Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum is appreciated </p>

        <!-- profile       -->
        <div class="profile">
            <img src="img/profile-1.jpg" alt="" class="profile-img">
            <span class="profile-name">marques dexter</span>
            </div>
        </div>
    </div>



    <!-- <div class="post-box mobile">
        <img src="img/post-3.jpg" alt="" class="post-img">
        <h2 class="category"></h2>
        <a href="/posts/" class="post-title"> </a>
        <span class="post-date"></span>
        <p class="post-decription"> </p> -->

        <!-- profile       -->
   
 



</section>



<!-- footer     -->

<div class="footer container">
    
        <p>&#169; carpoolvenom All Rights Reserved</p>
        <div class="social">
            <a href="#"><i class="bx fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="bx fa-brands fa-twitter"></i></a>
            <a href="#"><i class="bx fa-brands fa-instagram"></i></a>
        </div>

</div>

<!--  JQuery Link   -->
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>


<!-- Link to js      -->
<script src="main.js"> </script>
</body>
</html>